version: '3.2'

services:
  mailer:
    image: meuhmeuhconcept/postfix
    ports:
      - "25:25"
      #- "587:587"
    #volumes:
      #- $PWD/assets/certs:/etc/postfix/certs
      #- $PWD/assets/domainkeys:/etc/opendkim/domainkeys
    #environment:
      #- smtp_user=user@domain:pwd #split with ,
    deploy:
      restart_policy:
        condition: on-failure
